<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popup_record_Bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,349},{135,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,138}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>popup_record_Bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{270,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,60}}</string>
                <key>sourceSize</key>
                <string>{270,60}</string>
            </dict>
            <key>popup_record_Bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,107},{104,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,79}}</string>
                <key>sourceSize</key>
                <string>{104,79}</string>
            </dict>
            <key>popup_record_Bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,107},{94,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,88}</string>
            </dict>
            <key>popup_record_btn_anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,341},{130,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,46}}</string>
                <key>sourceSize</key>
                <string>{130,46}</string>
            </dict>
            <key>popup_record_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,456},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>popup_record_btn_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,274},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>popup_record_btn_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,473},{63,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,34}}</string>
                <key>sourceSize</key>
                <string>{63,34}</string>
            </dict>
            <key>popup_record_btn_find.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,341},{123,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,54}}</string>
                <key>sourceSize</key>
                <string>{123,54}</string>
            </dict>
            <key>popup_record_btn_find2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,67},{175,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,60}}</string>
                <key>sourceSize</key>
                <string>{175,60}</string>
            </dict>
            <key>popup_record_btn_jintian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{67,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,47}}</string>
                <key>sourceSize</key>
                <string>{67,47}</string>
            </dict>
            <key>popup_record_btn_jintian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,51},{67,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,47}}</string>
                <key>sourceSize</key>
                <string>{67,47}</string>
            </dict>
            <key>popup_record_btn_luxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,44},{61,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,34}}</string>
                <key>sourceSize</key>
                <string>{61,34}</string>
            </dict>
            <key>popup_record_btn_luxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,203},{78,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,24}}</string>
                <key>sourceSize</key>
                <string>{78,24}</string>
            </dict>
            <key>popup_record_btn_luxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,67},{78,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,24}}</string>
                <key>sourceSize</key>
                <string>{78,24}</string>
            </dict>
            <key>popup_record_btn_paiyouquan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{256,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,97}}</string>
                <key>sourceSize</key>
                <string>{256,97}</string>
            </dict>
            <key>popup_record_btn_paiyouquan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{253,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,92}}</string>
                <key>sourceSize</key>
                <string>{253,92}</string>
            </dict>
            <key>popup_record_btn_qiantian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,213},{67,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,45}}</string>
                <key>sourceSize</key>
                <string>{67,47}</string>
            </dict>
            <key>popup_record_btn_qiantian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{67,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,47}}</string>
                <key>sourceSize</key>
                <string>{67,47}</string>
            </dict>
            <key>popup_record_btn_seeBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{143,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,89}}</string>
                <key>sourceSize</key>
                <string>{143,91}</string>
            </dict>
            <key>popup_record_btn_shousuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,2},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>popup_record_btn_wodezhanji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{256,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,97}}</string>
                <key>sourceSize</key>
                <string>{256,97}</string>
            </dict>
            <key>popup_record_btn_wodezhanji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{253,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,92}}</string>
                <key>sourceSize</key>
                <string>{253,92}</string>
            </dict>
            <key>popup_record_btn_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,341},{115,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,56}}</string>
                <key>sourceSize</key>
                <string>{115,56}</string>
            </dict>
            <key>popup_record_btn_you.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,477},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>popup_record_btn_zhongtujiesan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,341},{134,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,46}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>popup_record_btn_zhongtujiesan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,341},{134,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,44}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>popup_record_btn_zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,477},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>popup_record_btn_zuotian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,51},{67,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,47}}</string>
                <key>sourceSize</key>
                <string>{67,47}</string>
            </dict>
            <key>popup_record_btn_zuotian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{67,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,47}}</string>
                <key>sourceSize</key>
                <string>{67,47}</string>
            </dict>
            <key>popup_record_dipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,67},{173,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,29}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>popup_record_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,213},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>popup_record_fenjiexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{4,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,41}}</string>
                <key>sourceSize</key>
                <string>{4,41}</string>
            </dict>
            <key>popup_record_inputBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,55}}</string>
                <key>sourceSize</key>
                <string>{348,55}</string>
            </dict>
            <key>popup_record_inputBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{55,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,43}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
            <key>popup_record_inputBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,466},{67,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,43}}</string>
                <key>sourceSize</key>
                <string>{67,43}</string>
            </dict>
            <key>popup_record_jiantouL.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,489},{21,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,40}}</string>
                <key>sourceSize</key>
                <string>{21,40}</string>
            </dict>
            <key>popup_record_jiantouR.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,489},{21,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,40}}</string>
                <key>sourceSize</key>
                <string>{21,40}</string>
            </dict>
            <key>popup_record_shijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,67},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>popup_record_tiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,458},{935,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{935,52}}</string>
                <key>sourceSize</key>
                <string>{935,52}</string>
            </dict>
            <key>popup_record_tiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{935,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{935,63}}</string>
                <key>sourceSize</key>
                <string>{935,63}</string>
            </dict>
            <key>popup_record_tiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,260},{935,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{935,79}}</string>
                <key>sourceSize</key>
                <string>{935,79}</string>
            </dict>
            <key>popup_record_tiao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,341},{935,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{935,113}}</string>
                <key>sourceSize</key>
                <string>{935,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popup_record.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6aca3b9fd3db14b39f355caee00f0399$</string>
            <key>textureFileName</key>
            <string>popup_record.png</string>
        </dict>
    </dict>
</plist>
