<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popup_shop_btn_duihuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,25},{274,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,97}}</string>
                <key>sourceSize</key>
                <string>{274,97}</string>
            </dict>
            <key>popup_shop_btn_duihuan11.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,422},{256,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,97}}</string>
                <key>sourceSize</key>
                <string>{256,97}</string>
            </dict>
            <key>popup_shop_btn_duihuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,798},{230,87}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{230,87}}</string>
                <key>sourceSize</key>
                <string>{232,91}</string>
            </dict>
            <key>popup_shop_btn_duihuan22.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,615},{253,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,92}}</string>
                <key>sourceSize</key>
                <string>{253,92}</string>
            </dict>
            <key>popup_shop_btn_duihuanziliao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,323},{256,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,97}}</string>
                <key>sourceSize</key>
                <string>{256,97}</string>
            </dict>
            <key>popup_shop_btn_duihuanziliao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,521},{253,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,92}}</string>
                <key>sourceSize</key>
                <string>{253,92}</string>
            </dict>
            <key>popup_shop_btn_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,25},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>popup_shop_btn_fuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{188,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,73}}</string>
                <key>sourceSize</key>
                <string>{188,73}</string>
            </dict>
            <key>popup_shop_btn_gmjb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,124},{256,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,98}}</string>
                <key>sourceSize</key>
                <string>{256,98}</string>
            </dict>
            <key>popup_shop_btn_gmjb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,241},{253,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,93}}</string>
                <key>sourceSize</key>
                <string>{253,93}</string>
            </dict>
            <key>popup_shop_btn_goumai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,224},{256,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,97}}</string>
                <key>sourceSize</key>
                <string>{256,97}</string>
            </dict>
            <key>popup_shop_btn_goumai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,496},{253,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,92}}</string>
                <key>sourceSize</key>
                <string>{253,92}</string>
            </dict>
            <key>popup_shop_btn_goumaianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,820},{175,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,67}}</string>
                <key>sourceSize</key>
                <string>{175,67}</string>
            </dict>
            <key>popup_shop_btn_quedingtijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,829},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>popup_shop_btn_shangcheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,25},{274,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,97}}</string>
                <key>sourceSize</key>
                <string>{274,97}</string>
            </dict>
            <key>popup_shop_btn_shangcheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,709},{230,87}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{230,87}}</string>
                <key>sourceSize</key>
                <string>{232,91}</string>
            </dict>
            <key>popup_shop_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,241},{444,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,251}}</string>
                <key>sourceSize</key>
                <string>{444,251}</string>
            </dict>
            <key>popup_shop_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,820},{149,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,148}}</string>
                <key>sourceSize</key>
                <string>{149,148}</string>
            </dict>
            <key>popup_shop_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{197,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,197}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>popup_shop_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,851},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>popup_shop_diban1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,687},{247,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,276}}</string>
                <key>sourceSize</key>
                <string>{247,276}</string>
            </dict>
            <key>popup_shop_fenjiexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{952,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{952,21}}</string>
                <key>sourceSize</key>
                <string>{952,21}</string>
            </dict>
            <key>popup_shop_img_bg_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,687},{89,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,45}}</string>
                <key>sourceSize</key>
                <string>{89,45}</string>
            </dict>
            <key>popup_shop_img_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,124},{108,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,114}}</string>
                <key>sourceSize</key>
                <string>{108,114}</string>
            </dict>
            <key>popup_shop_img_gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,687},{131,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,107}}</string>
                <key>sourceSize</key>
                <string>{131,107}</string>
            </dict>
            <key>popup_shop_img_gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,25},{143,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,118}}</string>
                <key>sourceSize</key>
                <string>{143,118}</string>
            </dict>
            <key>popup_shop_kuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{237,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,55}}</string>
                <key>sourceSize</key>
                <string>{237,55}</string>
            </dict>
            <key>popup_shop_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,971},{251,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,46}}</string>
                <key>sourceSize</key>
                <string>{251,46}</string>
            </dict>
            <key>popup_shop_lianxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,687},{126,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,30}}</string>
                <key>sourceSize</key>
                <string>{126,30}</string>
            </dict>
            <key>popup_shop_select_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{586,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{586,196}}</string>
                <key>sourceSize</key>
                <string>{590,198}</string>
            </dict>
            <key>popup_shop_shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,829},{181,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,52}}</string>
                <key>sourceSize</key>
                <string>{181,52}</string>
            </dict>
            <key>popup_shop_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,751},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>popup_shop_xingming.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,965},{67,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,29}}</string>
                <key>sourceSize</key>
                <string>{67,29}</string>
            </dict>
            <key>popup_shop_xuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,124},{112,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,114}}</string>
                <key>sourceSize</key>
                <string>{112,114}</string>
            </dict>
            <key>popup_shop_youji.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,687},{125,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,30}}</string>
                <key>sourceSize</key>
                <string>{125,30}</string>
            </dict>
            <key>popup_shop_zhifubao.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,124},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>popup_shop_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,778},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popup_shop.png</string>
            <key>size</key>
            <string>{1024,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3a16137daeaa82460fcb53a2987c6f2$</string>
            <key>textureFileName</key>
            <string>popup_shop.png</string>
        </dict>
    </dict>
</plist>
