<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popup_login_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,85},{134,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,60}}</string>
                <key>sourceSize</key>
                <string>{134,60}</string>
            </dict>
            <key>popup_login_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{517,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,81}}</string>
                <key>sourceSize</key>
                <string>{517,81}</string>
            </dict>
            <key>popup_login_btn_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{238,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,78}}</string>
                <key>sourceSize</key>
                <string>{238,78}</string>
            </dict>
            <key>popup_login_btn_236.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,128},{62,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,22},{62,34}}</string>
                <key>sourceSize</key>
                <string>{180,78}</string>
            </dict>
            <key>popup_login_btn_237.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{237,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,78}}</string>
                <key>sourceSize</key>
                <string>{237,78}</string>
            </dict>
            <key>popup_login_btn_238.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,2},{124,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,22},{124,34}}</string>
                <key>sourceSize</key>
                <string>{180,78}</string>
            </dict>
            <key>popup_login_btn_240.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{237,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,78}}</string>
                <key>sourceSize</key>
                <string>{237,78}</string>
            </dict>
            <key>popup_login_btn_254.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,213},{156,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{156,34}}</string>
                <key>sourceSize</key>
                <string>{180,78}</string>
            </dict>
            <key>popup_login_btn_dengluanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>popup_login_btn_huoqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,2},{104,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,27}}</string>
                <key>sourceSize</key>
                <string>{104,27}</string>
            </dict>
            <key>popup_login_btn_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{87,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,98}}</string>
                <key>sourceSize</key>
                <string>{87,98}</string>
            </dict>
            <key>popup_login_btn_kuaisuzhuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,91},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>popup_login_btn_tijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,168},{209,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,81}}</string>
                <key>sourceSize</key>
                <string>{209,81}</string>
            </dict>
            <key>popup_login_btn_xiayibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,85},{209,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,81}}</string>
                <key>sourceSize</key>
                <string>{209,81}</string>
            </dict>
            <key>popup_login_btn_zhaohuimima.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,192},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>popup_login_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{251,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,46}}</string>
                <key>sourceSize</key>
                <string>{251,46}</string>
            </dict>
            <key>popup_login_mima.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,221},{67,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,30}}</string>
                <key>sourceSize</key>
                <string>{67,30}</string>
            </dict>
            <key>popup_login_quedimima.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{125,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,30}}</string>
                <key>sourceSize</key>
                <string>{125,30}</string>
            </dict>
            <key>popup_login_shenfen.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,218},{124,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,29}}</string>
                <key>sourceSize</key>
                <string>{124,29}</string>
            </dict>
            <key>popup_login_txt_255.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,161},{98,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,29}}</string>
                <key>sourceSize</key>
                <string>{98,31}</string>
            </dict>
            <key>popup_login_txt_256.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,91},{98,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,31}}</string>
                <key>sourceSize</key>
                <string>{98,31}</string>
            </dict>
            <key>popup_login_txt_257.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{134,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,31}}</string>
                <key>sourceSize</key>
                <string>{134,31}</string>
            </dict>
            <key>popup_login_yanzhengma.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,129},{97,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,30}}</string>
                <key>sourceSize</key>
                <string>{97,30}</string>
            </dict>
            <key>popup_login_zhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,138},{67,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,29}}</string>
                <key>sourceSize</key>
                <string>{67,29}</string>
            </dict>
            <key>popup_login_zhenshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,91},{125,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,29}}</string>
                <key>sourceSize</key>
                <string>{125,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popup_login.png</string>
            <key>size</key>
            <string>{1019,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18962bd1bba7a272c69952dc0b503e0c$</string>
            <key>textureFileName</key>
            <string>popup_login.png</string>
        </dict>
    </dict>
</plist>
