<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popup_create_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,134},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>popup_create_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,7},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>popup_create_btn_anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,157},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{32,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>popup_create_btn_anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,143},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{32,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>popup_create_btn_chuangjiananniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,7},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>popup_create_btn_dian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,100},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>popup_create_btn_dian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,55},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>popup_create_btn_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,75},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{86,87}</string>
            </dict>
            <key>popup_create_btn_gou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,200},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>popup_create_btn_gou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,145},{43,42}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,42}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>popup_create_btn_majiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{189,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,66}}</string>
                <key>sourceSize</key>
                <string>{189,66}</string>
            </dict>
            <key>popup_create_btn_majiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,7},{189,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,66}}</string>
                <key>sourceSize</key>
                <string>{189,66}</string>
            </dict>
            <key>popup_create_btn_puke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,7},{189,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,66}}</string>
                <key>sourceSize</key>
                <string>{189,66}</string>
            </dict>
            <key>popup_create_btn_puke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,7},{189,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,66}}</string>
                <key>sourceSize</key>
                <string>{189,66}</string>
            </dict>
            <key>popup_create_btn_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,200},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>popup_create_btn_shoudongshuru.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{107,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,52}}</string>
                <key>sourceSize</key>
                <string>{107,52}</string>
            </dict>
            <key>popup_create_btn_wanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,75},{120,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,57}}</string>
                <key>sourceSize</key>
                <string>{120,57}</string>
            </dict>
            <key>popup_create_btn_xiuggai.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,132},{114,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,58}}</string>
                <key>sourceSize</key>
                <string>{114,58}</string>
            </dict>
            <key>popup_create_btn_zipai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,7},{189,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,66}}</string>
                <key>sourceSize</key>
                <string>{189,66}</string>
            </dict>
            <key>popup_create_btn_zipai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{189,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,66}}</string>
                <key>sourceSize</key>
                <string>{189,66}</string>
            </dict>
            <key>popup_create_ceshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,75},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>popup_create_inputBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,75},{105,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,57}}</string>
                <key>sourceSize</key>
                <string>{105,57}</string>
            </dict>
            <key>popup_create_inputBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,75},{169,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,55}}</string>
                <key>sourceSize</key>
                <string>{169,55}</string>
            </dict>
            <key>popup_create_inputBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{196,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,34}}</string>
                <key>sourceSize</key>
                <string>{196,34}</string>
            </dict>
            <key>popup_create_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{979,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{979,3}}</string>
                <key>sourceSize</key>
                <string>{979,3}</string>
            </dict>
            <key>popup_create_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{849,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{849,1}}</string>
                <key>sourceSize</key>
                <string>{849,1}</string>
            </dict>
            <key>popup_create_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,132},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>popup_create_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,143},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popup_create.png</string>
            <key>size</key>
            <string>{1024,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b2cb35e3b57d0cf4753e6ae0155ed03$</string>
            <key>textureFileName</key>
            <string>popup_create.png</string>
        </dict>
    </dict>
</plist>
