<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_biaoti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{472,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,102}}</string>
                <key>sourceSize</key>
                <string>{472,102}</string>
            </dict>
            <key>lobby_btn_chengweidaili.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,493},{88,85}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{114,87}</string>
            </dict>
            <key>lobby_btn_duihuansc.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,580},{84,85}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{114,87}</string>
            </dict>
            <key>lobby_btn_fenxiangyoujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,428},{128,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>lobby_btn_gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,406},{128,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>lobby_btn_hblx.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,471},{107,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,104}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>lobby_btn_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>lobby_btn_kefu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,413},{128,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>lobby_btn_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,266},{160,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,73}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>lobby_btn_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,348},{128,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>lobby_btn_shiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,341},{114,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,85}}</string>
                <key>sourceSize</key>
                <string>{114,87}</string>
            </dict>
            <key>lobby_btn_shoujibangding.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,580},{84,79}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{84,79}}</string>
                <key>sourceSize</key>
                <string>{114,87}</string>
            </dict>
            <key>lobby_btn_wanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,341},{128,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>lobby_btn_xnzp.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,478},{104,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,105}}</string>
                <key>sourceSize</key>
                <string>{104,105}</string>
            </dict>
            <key>lobby_btn_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{128,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>lobby_btn_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,584},{84,77}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{84,77}}</string>
                <key>sourceSize</key>
                <string>{114,87}</string>
            </dict>
            <key>lobby_btn_yqyl.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,584},{84,83}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{84,83}}</string>
                <key>sourceSize</key>
                <string>{114,87}</string>
            </dict>
            <key>lobby_btn_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{128,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>lobby_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{190,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,98}}</string>
                <key>sourceSize</key>
                <string>{190,98}</string>
            </dict>
            <key>lobby_di_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{570,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,85}}</string>
                <key>sourceSize</key>
                <string>{570,85}</string>
            </dict>
            <key>lobby_diqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{251,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,60}}</string>
                <key>sourceSize</key>
                <string>{251,60}</string>
            </dict>
            <key>lobby_dt_fgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,35},{5,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,73}}</string>
                <key>sourceSize</key>
                <string>{5,73}</string>
            </dict>
            <key>lobby_hongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,35},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>lobby_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,177},{169,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,72}}</string>
                <key>sourceSize</key>
                <string>{169,72}</string>
            </dict>
            <key>lobby_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,177},{187,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,87}}</string>
                <key>sourceSize</key>
                <string>{187,87}</string>
            </dict>
            <key>lobby_touxiangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,106},{200,69}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,69}}</string>
                <key>sourceSize</key>
                <string>{202,73}</string>
            </dict>
            <key>lobby_touxiangkuang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,577},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>lobby_touxiangkuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,666},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>lobby_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,106},{178,39}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,39}}</string>
                <key>sourceSize</key>
                <string>{180,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby1.png</string>
            <key>size</key>
            <string>{511,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ecab84edf16c1b607c1cb34a034d57b$</string>
            <key>textureFileName</key>
            <string>lobby1.png</string>
        </dict>
    </dict>
</plist>
