<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_btn_anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,422},{205,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,78}}</string>
                <key>sourceSize</key>
                <string>{205,78}</string>
            </dict>
            <key>common_btn_anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,342},{207,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,78}}</string>
                <key>sourceSize</key>
                <string>{207,78}</string>
            </dict>
            <key>common_btn_anniu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,242},{245,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,98}}</string>
                <key>sourceSize</key>
                <string>{245,98}</string>
            </dict>
            <key>common_btn_anniu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{245,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,98}}</string>
                <key>sourceSize</key>
                <string>{245,98}</string>
            </dict>
            <key>common_btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{262,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,88}}</string>
                <key>sourceSize</key>
                <string>{262,88}</string>
            </dict>
            <key>common_btn_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,88}}</string>
                <key>sourceSize</key>
                <string>{262,88}</string>
            </dict>
            <key>common_btn_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,282},{209,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,82}}</string>
                <key>sourceSize</key>
                <string>{209,82}</string>
            </dict>
            <key>common_btn_queding2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,80},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>common_btn_quedingbanding.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,158},{210,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,82}}</string>
                <key>sourceSize</key>
                <string>{210,82}</string>
            </dict>
            <key>common_btn_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{209,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,82}}</string>
                <key>sourceSize</key>
                <string>{209,82}</string>
            </dict>
            <key>common_btn_quxiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>common_img_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,282},{38,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,53}}</string>
                <key>sourceSize</key>
                <string>{38,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_button1.png</string>
            <key>size</key>
            <string>{496,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc7b2ce51e0c223ebf4a86f5f56133bc$</string>
            <key>textureFileName</key>
            <string>common_button1.png</string>
        </dict>
    </dict>
</plist>
