<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_btn_back_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,374},{116,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,79}}</string>
                <key>sourceSize</key>
                <string>{116,79}</string>
            </dict>
            <key>club_btn_changwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,226},{146,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,79}}</string>
                <key>sourceSize</key>
                <string>{146,79}</string>
            </dict>
            <key>club_btn_check_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,226},{146,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,79}}</string>
                <key>sourceSize</key>
                <string>{146,79}</string>
            </dict>
            <key>club_btn_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,374},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>club_btn_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,226},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>club_btn_jiesan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{156,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,56}}</string>
                <key>sourceSize</key>
                <string>{156,56}</string>
            </dict>
            <key>club_btn_shouqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,362},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,62}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>club_btn_shuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,307},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,62}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>club_button_anniudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{477,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,110}}</string>
                <key>sourceSize</key>
                <string>{477,110}</string>
            </dict>
            <key>club_button_anniudi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{477,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,110}}</string>
                <key>sourceSize</key>
                <string>{477,110}</string>
            </dict>
            <key>club_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>club_img_honor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,226},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>club_img_honor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,294},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>club_img_honor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,439},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>club_img_honor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,371},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>club_img_honor_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,301},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>club_img_honor_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,226},{66,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,38}</string>
            </dict>
            <key>club_img_honor_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,371},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>club_img_honor_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,459},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>club_img_vip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,284},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>club_img_vip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,342},{55,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,45}}</string>
                <key>sourceSize</key>
                <string>{55,45}</string>
            </dict>
            <key>club_img_vip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,226},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>club_img_vip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,459},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>club_img_vip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,307},{63,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,52}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>club_img_vip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,399},{60,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,53}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>club_img_vip_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,294},{61,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,55}}</string>
                <key>sourceSize</key>
                <string>{61,55}</string>
            </dict>
            <key>club_inputbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,226},{79,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>club.png</string>
            <key>size</key>
            <string>{509,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:100421214d48300004d0a0d68c1a7971$</string>
            <key>textureFileName</key>
            <string>club.png</string>
        </dict>
    </dict>
</plist>
