<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cutcard_eff_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{174,92}}</string>
                <key>offset</key>
                <string>{-14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,43},{174,92}}</string>
                <key>sourceSize</key>
                <string>{400,226}</string>
            </dict>
            <key>cutcard_eff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,258},{174,98}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,42},{174,98}}</string>
                <key>sourceSize</key>
                <string>{400,226}</string>
            </dict>
            <key>cutcard_eff_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{194,130}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,40},{194,130}}</string>
                <key>sourceSize</key>
                <string>{400,226}</string>
            </dict>
            <key>cutcard_eff_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,358},{144,116}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,43},{144,116}}</string>
                <key>sourceSize</key>
                <string>{400,226}</string>
            </dict>
            <key>cutcard_eff_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,476},{98,130}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,32},{98,130}}</string>
                <key>sourceSize</key>
                <string>{400,226}</string>
            </dict>
            <key>cutcard_eff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{174,98}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,42},{174,98}}</string>
                <key>sourceSize</key>
                <string>{400,226}</string>
            </dict>
            <key>cutcard_eff_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{174,98}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,42},{174,98}}</string>
                <key>sourceSize</key>
                <string>{400,226}</string>
            </dict>
            <key>cutcard_eff_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{140,98}}</string>
                <key>offset</key>
                <string>{-16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,36},{140,98}}</string>
                <key>sourceSize</key>
                <string>{400,226}</string>
            </dict>
            <key>cutcard_eff_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{108,96}}</string>
                <key>offset</key>
                <string>{-18,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,30},{108,96}}</string>
                <key>sourceSize</key>
                <string>{400,226}</string>
            </dict>
            <key>cutcard_eff_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,258},{126,146}}</string>
                <key>offset</key>
                <string>{-16,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,16},{126,146}}</string>
                <key>sourceSize</key>
                <string>{400,226}</string>
            </dict>
            <key>cutcard_eff_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,386},{136,118}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,31},{136,118}}</string>
                <key>sourceSize</key>
                <string>{400,226}</string>
            </dict>
            <key>cutcard_eff_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,134},{190,122}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,40},{190,122}}</string>
                <key>sourceSize</key>
                <string>{400,226}</string>
            </dict>
            <key>cutcard_eff_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,148}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,27},{242,148}}</string>
                <key>sourceSize</key>
                <string>{400,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cutcard_eff.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09ff93b5417b1cb7cfd6b05947f931ff$</string>
            <key>textureFileName</key>
            <string>cutcard_eff.png</string>
        </dict>
    </dict>
</plist>
