<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hbgzp_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,524},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,524},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,524},{85,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,103}}</string>
                <key>sourceSize</key>
                <string>{85,103}</string>
            </dict>
            <key>hbgzp_card1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,437},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,437},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,437},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,350},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,350},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,350},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,263},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,263},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,263},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,176},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,176},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,176},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,89},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,89},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,89},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card1_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>hbgzp_card2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,821},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,793},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,761},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,761},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,912},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,821},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,730},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,702},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,686},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,686},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,686},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,639},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,611},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,611},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,611},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,611},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,548},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,457},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,366},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,275},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,184},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,93},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>hbgzp_card2_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hbgzpNewCard.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e18defeb00296a1881a898ad2935a991$</string>
            <key>textureFileName</key>
            <string>hbgzpNewCard.png</string>
        </dict>
    </dict>
</plist>
