<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xygmj_d1p1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{61,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,82}}</string>
                <key>sourceSize</key>
                <string>{61,82}</string>
            </dict>
            <key>xygmj_d1p1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,35},{18,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,80}}</string>
                <key>sourceSize</key>
                <string>{18,80}</string>
            </dict>
            <key>xygmj_d1p1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,65},{51,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,80}}</string>
                <key>sourceSize</key>
                <string>{51,80}</string>
            </dict>
            <key>xygmj_d1p1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,175},{43,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,81}}</string>
                <key>sourceSize</key>
                <string>{43,81}</string>
            </dict>
            <key>xygmj_d1p1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,63},{56,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,80}}</string>
                <key>sourceSize</key>
                <string>{56,80}</string>
            </dict>
            <key>xygmj_d1p1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,181},{53,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,81}}</string>
                <key>sourceSize</key>
                <string>{53,81}</string>
            </dict>
            <key>xygmj_d1p1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,64},{53,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,84}}</string>
                <key>sourceSize</key>
                <string>{53,84}</string>
            </dict>
            <key>xygmj_d1p1_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,301},{54,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,81}}</string>
                <key>sourceSize</key>
                <string>{54,81}</string>
            </dict>
            <key>xygmj_d1p1_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,118},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>xygmj_d1p1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,236},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>xygmj_d1p1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{37,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,79}}</string>
                <key>sourceSize</key>
                <string>{37,79}</string>
            </dict>
            <key>xygmj_d1p1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{65,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>xygmj_d1p1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,220},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>xygmj_d1p1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,220},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>xygmj_d1p1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,65},{51,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,85}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>xygmj_d1p1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>xygmj_d1p1_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,119},{43,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,87}}</string>
                <key>sourceSize</key>
                <string>{43,87}</string>
            </dict>
            <key>xygmj_d1p1_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,83},{64,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,79}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>xygmj_d1p1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,182},{57,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,75}}</string>
                <key>sourceSize</key>
                <string>{57,75}</string>
            </dict>
            <key>xygmj_d1p1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,121},{59,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,78}}</string>
                <key>sourceSize</key>
                <string>{59,78}</string>
            </dict>
            <key>xygmj_d1p1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,89}}</string>
                <key>sourceSize</key>
                <string>{57,89}</string>
            </dict>
            <key>xygmj_d1p1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>xygmj_d1p1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{54,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,84}}</string>
                <key>sourceSize</key>
                <string>{54,84}</string>
            </dict>
            <key>xygmj_d1p1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{57,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,84}}</string>
                <key>sourceSize</key>
                <string>{57,84}</string>
            </dict>
            <key>xygmj_d1p1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{54,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,85}}</string>
                <key>sourceSize</key>
                <string>{54,85}</string>
            </dict>
            <key>xygmj_d1p1_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{61,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,81}}</string>
                <key>sourceSize</key>
                <string>{61,81}</string>
            </dict>
            <key>xygmj_d1p1_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{54,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,84}}</string>
                <key>sourceSize</key>
                <string>{54,84}</string>
            </dict>
            <key>xygmj_d1p1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,118},{61,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,79}}</string>
                <key>sourceSize</key>
                <string>{61,79}</string>
            </dict>
            <key>xygmj_d1p1_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,241},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>xygmj_d1p1_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,218},{55,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,81}}</string>
                <key>sourceSize</key>
                <string>{55,81}</string>
            </dict>
            <key>xygmj_d1p1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,220},{53,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,70}}</string>
                <key>sourceSize</key>
                <string>{53,70}</string>
            </dict>
            <key>xygmj_d1p1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,241},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>xygmj_d1p1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,164},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{54,64}</string>
            </dict>
            <key>xygmj_d1p1_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,164},{52,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,83}}</string>
                <key>sourceSize</key>
                <string>{52,83}</string>
            </dict>
            <key>xygmj_d1p2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,333},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>xygmj_d1p2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,397},{10,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,46}}</string>
                <key>sourceSize</key>
                <string>{10,46}</string>
            </dict>
            <key>xygmj_d1p2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,295},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>xygmj_d1p2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,342},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>xygmj_d1p2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,335},{31,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,46}}</string>
                <key>sourceSize</key>
                <string>{31,46}</string>
            </dict>
            <key>xygmj_d1p2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,343},{31,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,46}}</string>
                <key>sourceSize</key>
                <string>{31,46}</string>
            </dict>
            <key>xygmj_d1p2_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,302},{31,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,48}}</string>
                <key>sourceSize</key>
                <string>{31,48}</string>
            </dict>
            <key>xygmj_d1p2_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,376},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>xygmj_d1p2_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,331},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>xygmj_d1p2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,409},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xygmj_d1p2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,35},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>xygmj_d1p2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,437},{38,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,45}}</string>
                <key>sourceSize</key>
                <string>{38,45}</string>
            </dict>
            <key>xygmj_d1p2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,261},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>xygmj_d1p2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,217},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>xygmj_d1p2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,384},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>xygmj_d1p2_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,295},{35,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>xygmj_d1p2_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,410},{25,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,49}}</string>
                <key>sourceSize</key>
                <string>{25,49}</string>
            </dict>
            <key>xygmj_d1p2_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,332},{37,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>xygmj_d1p2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,431},{33,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>xygmj_d1p2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,169},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>xygmj_d1p2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,384},{34,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{34,51}</string>
            </dict>
            <key>xygmj_d1p2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,120},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>xygmj_d1p2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,297},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>xygmj_d1p2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,419},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>xygmj_d1p2_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,380},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>xygmj_d1p2_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,295},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>xygmj_d1p2_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,292},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>xygmj_d1p2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,371},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>xygmj_d1p2_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,365},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>xygmj_d1p2_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,409},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>xygmj_d1p2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>xygmj_d1p2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,400},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>xygmj_d1p2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,368},{30,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,37}}</string>
                <key>sourceSize</key>
                <string>{30,37}</string>
            </dict>
            <key>xygmj_d1p2_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,410},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>xygmj_d4p3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,367},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>xygmj_d4p3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,121},{33,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,7}}</string>
                <key>sourceSize</key>
                <string>{33,7}</string>
            </dict>
            <key>xygmj_d4p3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,302},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>xygmj_d4p3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,390},{31,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,17}}</string>
                <key>sourceSize</key>
                <string>{31,17}</string>
            </dict>
            <key>xygmj_d4p3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,332},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>xygmj_d4p3_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,297},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>xygmj_d4p3_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,305},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>xygmj_d4p3_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,380},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>xygmj_d4p3_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,337},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>xygmj_d4p3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,450},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>xygmj_d4p3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,182},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,15}</string>
            </dict>
            <key>xygmj_d4p3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,446},{29,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>sourceSize</key>
                <string>{29,23}</string>
            </dict>
            <key>xygmj_d4p3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,374},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>xygmj_d4p3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,451},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>xygmj_d4p3_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,83},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>xygmj_d4p3_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,298},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>xygmj_d4p3_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,439},{36,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,17}}</string>
                <key>sourceSize</key>
                <string>{36,17}</string>
            </dict>
            <key>xygmj_d4p3_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,354},{33,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,24}}</string>
                <key>sourceSize</key>
                <string>{33,24}</string>
            </dict>
            <key>xygmj_d4p3_3_.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,352},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>xygmj_d4p3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,435},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>xygmj_d4p3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,328},{33,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,24}}</string>
                <key>sourceSize</key>
                <string>{33,24}</string>
            </dict>
            <key>xygmj_d4p3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,401},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>xygmj_d4p3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,400},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>xygmj_d4p3_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,427},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>xygmj_d4p3_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,404},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>xygmj_d4p3_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,325},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>xygmj_d4p3_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,376},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>xygmj_d4p3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,400},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>xygmj_d4p3_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,451},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>xygmj_d4p3_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,428},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>xygmj_d4p3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,446},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>xygmj_d4p3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,451},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>xygmj_d4p3_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,446},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>xygmj_d4p3_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,427},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_xygzi.png</string>
            <key>size</key>
            <string>{508,477}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb74e549a6304b9ce696103dcf7154f0$</string>
            <key>textureFileName</key>
            <string>majiang_xygzi.png</string>
        </dict>
    </dict>
</plist>
