<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xygmjbg_d1p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,131}}</string>
                <key>sourceSize</key>
                <string>{94,131}</string>
            </dict>
            <key>xygmjbg_d1p2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{77,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,112}}</string>
                <key>sourceSize</key>
                <string>{77,112}</string>
            </dict>
            <key>xygmjbg_d1p2_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,249},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>xygmjbg_d2p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{25,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,60}}</string>
                <key>sourceSize</key>
                <string>{25,60}</string>
            </dict>
            <key>xygmjbg_d3p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{43,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,62}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>xygmjbg_d4p3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,192},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>xygmjbg_d4p3_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,135},{55,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,45}}</string>
                <key>sourceSize</key>
                <string>{55,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_xygbg.png</string>
            <key>size</key>
            <string>{128,294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e97a07f5841cc5afb025c3bc28de8f27$</string>
            <key>textureFileName</key>
            <string>majiang_xygbg.png</string>
        </dict>
    </dict>
</plist>
