<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bbt_scard_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,874},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,874},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,874},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,874},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,874},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,874},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,874},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,663},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,445},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,227},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>bbt_scard_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>s_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,223}}</string>
                <key>sourceSize</key>
                <string>{162,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pdk_smallcards.png</string>
            <key>size</key>
            <string>{1893,1031}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2124148c0dca0b94ffcf7cd7bbe25fed$</string>
            <key>textureFileName</key>
            <string>pdk_smallcards.png</string>
        </dict>
    </dict>
</plist>
