<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qf_bcard_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>qf_bcard_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qf_cards.png</string>
            <key>size</key>
            <string>{1864,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12873648740ad92ada121a702ae7b998$</string>
            <key>textureFileName</key>
            <string>qf_cards.png</string>
        </dict>
    </dict>
</plist>
