<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redpacket_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,908},{211,210}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,74},{211,210}}</string>
                <key>sourceSize</key>
                <string>{397,364}</string>
            </dict>
            <key>redpacket_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,634},{273,272}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,43},{273,272}}</string>
                <key>sourceSize</key>
                <string>{397,364}</string>
            </dict>
            <key>redpacket_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,360},{355,356}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{355,356}}</string>
                <key>sourceSize</key>
                <string>{397,364}</string>
            </dict>
            <key>redpacket_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,360},{273,272}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,43},{273,272}}</string>
                <key>sourceSize</key>
                <string>{397,364}</string>
            </dict>
            <key>redpacket_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,916},{229,210}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,74},{229,210}}</string>
                <key>sourceSize</key>
                <string>{397,364}</string>
            </dict>
            <key>redpacket_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,718},{191,148}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,109},{191,148}}</string>
                <key>sourceSize</key>
                <string>{397,364}</string>
            </dict>
            <key>redpacket_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,718},{199,148}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,109},{199,148}}</string>
                <key>sourceSize</key>
                <string>{397,364}</string>
            </dict>
            <key>redpacket_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,868},{273,272}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,43},{273,272}}</string>
                <key>sourceSize</key>
                <string>{397,364}</string>
            </dict>
            <key>redpacket_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{355,356}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{355,356}}</string>
                <key>sourceSize</key>
                <string>{397,364}</string>
            </dict>
            <key>redpacket_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{273,272}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,43},{273,272}}</string>
                <key>sourceSize</key>
                <string>{397,364}</string>
            </dict>
            <key>redpacket_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,908},{217,210}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,74},{217,210}}</string>
                <key>sourceSize</key>
                <string>{397,364}</string>
            </dict>
            <key>redpacket_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{229,210}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,74},{229,210}}</string>
                <key>sourceSize</key>
                <string>{397,364}</string>
            </dict>
            <key>redpacket_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{273,272}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,43},{273,272}}</string>
                <key>sourceSize</key>
                <string>{397,364}</string>
            </dict>
            <key>redpacket_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{355,356}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{355,356}}</string>
                <key>sourceSize</key>
                <string>{397,364}</string>
            </dict>
            <key>redpacket_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{387,364}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{387,364}}</string>
                <key>sourceSize</key>
                <string>{397,364}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>redpacket.png</string>
            <key>size</key>
            <string>{1171,1171}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5873cbc99e9a788ea96e7431bab284ad$</string>
            <key>textureFileName</key>
            <string>redpacket.png</string>
        </dict>
    </dict>
</plist>
