<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ting_donghua0017.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ting_donghua0018.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>122</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ting_donghua0016.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>272</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>273</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ting_donghua0001.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>272</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>545</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ting_donghua0002.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>272</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ting_donghua0003.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>272</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ting_donghua0004.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>272</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>544</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ting_donghua0005.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>272</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>504</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ting_donghua0006.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>272</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>504</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ting_donghua0007.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>272</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>544</integer>
				<key>y</key>
				<integer>504</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ting_donghua0008.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>272</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ting_donghua0009.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>272</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ting_donghua0010.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>272</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>544</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>tingdonghua0.png</string>
			<key>realTextureFileName</key>
			<string>tingdonghua0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>