<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_blackBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,211},{796,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{796,39}}</string>
                <key>sourceSize</key>
                <string>{796,39}</string>
            </dict>
            <key>login_btn_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,113},{104,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,58}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
            <key>login_btn_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{315,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,109}}</string>
                <key>sourceSize</key>
                <string>{315,109}</string>
            </dict>
            <key>login_btn_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,113},{315,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,109}}</string>
                <key>sourceSize</key>
                <string>{315,109}</string>
            </dict>
            <key>login_btn_weixin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{301,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,104}}</string>
                <key>sourceSize</key>
                <string>{301,104}</string>
            </dict>
            <key>login_btn_xianliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,108},{331,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,101}}</string>
                <key>sourceSize</key>
                <string>{331,101}</string>
            </dict>
            <key>login_btn_xianliao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,113},{301,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,104}}</string>
                <key>sourceSize</key>
                <string>{301,104}</string>
            </dict>
            <key>login_btn_youke.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{315,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,109}}</string>
                <key>sourceSize</key>
                <string>{315,109}</string>
            </dict>
            <key>login_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,113},{315,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,109}}</string>
                <key>sourceSize</key>
                <string>{315,109}</string>
            </dict>
            <key>login_select_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,197},{45,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>login_select_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,173},{27,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{27,22}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>login_select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,173},{32,31}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{32,31}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>login_select_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,197},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,37}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>login_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{315,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,109}}</string>
                <key>sourceSize</key>
                <string>{315,109}</string>
            </dict>
            <key>login_xianliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{315,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,109}}</string>
                <key>sourceSize</key>
                <string>{315,109}</string>
            </dict>
            <key>login_xianyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,31}}</string>
                <key>offset</key>
                <string>{28,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,5},{230,31}}</string>
                <key>sourceSize</key>
                <string>{286,47}</string>
            </dict>
            <key>login_xieyixinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{193,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{193,26}}</string>
                <key>sourceSize</key>
                <string>{193,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1904,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7aefe1ab71292ddaf20a30c385c2adc5$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
